html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body nav {
  margin: 0px auto;
  padding: 0px;
  vertical-align: top;
}
body nav a {
  display: block;
  color: #d0003e;
  line-height: 2;
  font-size: 14px;
  vertical-align: top;
  font-style: normal;
  text-decoration: underline;
}
body nav a:hover {
  color: #d0003e;
  text-decoration: none;
}
body footer {
  margin-top: 50px;
}

body hr {
  margin-top: -2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

header {
  background-color: #f0f3f5;
  min-height: 680px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header hr {
  margin-top: -2px;
  width: 1140px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
header .container {
  width: 1000px;
}
header .head {
  height: 200px;
  padding-top: 39px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjZmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5ZWRmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f6f8), color-stop(100%, #e9edf0));
  background-image: -moz-linear-gradient(#f4f6f8, #e9edf0);
  background-image: -webkit-linear-gradient(#f4f6f8, #e9edf0);
  background-image: linear-gradient(#f4f6f8, #e9edf0);
}
header a {
  color: #807c7d;
  text-decoration: underline;
  font-size: 11px;
  font-style: italic;
  vertical-align: top;
}
header a:hover {
  color: #807c7d;
  text-decoration: none;
}
header .fb {
  text-align: right;
}
header .fb span {
  color: #807c7d;
}
header .fb a {
  font-style: normal;
  color: #5674b9;
  font-size: 14px;
  text-decoration: none;
}
header .fb a:hover {
  text-decoration: underline;
}
header .search {
  margin-top: 61px;
  text-align: right;
  margin-right: auto;
}
header .search input[type=text] {
  vertical-align: baseline;
  outline: none;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-right: -35px;
  width: 221px;
  height: 26px;
  @-moz-box-shadow : 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 0 0 white;
}
header .search input[type=button] {
  right: -2px;
  top: 3px;
  border: none;
  background: url("../img/search.png") no-repeat 50% 50%;
  width: 32px;
  height: 22px;
  position: relative;
}

.text_logo {
  display: block;
  color: #807c7d;
  font-size: 13px;
  margin: 10px 1px;
}

.head-slider {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 44px;
}
.head-slider .col-md-3 {
  height: 390px;
}
.head-slider .idea {
  background: url(../img/idea.png) no-repeat top left;
  height: 86px;
  width: 80px;
}
.head-slider .quality {
  background: url(../img/qality.png) no-repeat top left;
  height: 55px;
  width: 50px;
  margin-top: 28px;
}
.head-slider .result {
  background: url(../img/result.png) no-repeat top left;
  height: 78px;
  width: 43px;
  margin-top: 7px;
}
.head-slider .eco {
  background: url(../img/eco.png) no-repeat top left;
  height: 62px;
  width: 44px;
  margin-top: 23px;
}
.head-slider h1 {
  font-size: 24px;
}
.head-slider .head-text {
  padding-right: 25px;
  margin-top: 17px;
  min-width: 245px;
}
.head-slider .carousel {
  height: 5px;
  width: 100%;
  background-color: #bbb;
  z-index: 1;
}
.head-slider .On {
  position: relative;
  z-index: 2;
  background-color: #d0003e;
  width: 20%;
  height: 5px;
}

.content-slider {
  height: 480px;
}

section {
  margin: 0;
  padding: 0;
}
section hr.bold {
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  vertical-align: bottom;
}

.news .content {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f0f3f5;
  height: 205px;
  margin-top: -20px;
}
.news a {
  color: #d0003e;
  font-size: 14px;
  vertical-align: top;
  font-style: normal;
}
.news .col-md-3 {
  padding: 39px 6px 34px 46px;
}

.separate-news {
  z-index: -1;
  position: relative;
  bottom: 166px;
  border-bottom: 1px solid transparent;
}

.about {
  margin-left: -28px;
  margin-top: 65px;
}
.about .feedback {
  padding: 10px 42px;
  background-color: #f0f3f5;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  height: 100%;
}
.about .buying {
  margin-top: 20px;
  background: url(../img/map.png) no-repeat 28px 25px;
  background-color: #f0f3f5;
  height: 100%;
}
.about .buying .triangle {
  position: relative;
  top: 0;
  left: 232px;
  width: 0;
  height: 0;
  border: 15px solid white;
  border-bottom: 15px solid rgba(0, 0, 0, 0.17);
  border-left: 15px solid rgba(0, 0, 0, 0.18);
}
.about .buying h1 {
  display: inline-block;
  font-size: 25px;
  padding: 1px 81px;
  margin-top: -5px;
  width: 291px;
}
.about .buying h1 a {
  color: #d0003e;
}
.about .buying p {
  color: rgba(0, 0, 0, 0.6);
  margin: -9px 75px;
  padding-bottom: 27px;
  width: 200px;
}
.about .text > article {
  margin: -136px 134px;
  display: inline-block;
  width: 80%;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2;
}
.about .text > article span {
  display: block;
  font-style: italic;
  font-size: 14px;
  line-height: 1.5;
}
.about + hr {
  margin-top: 65px;
  border-bottom: 0px;
}

.copyright img {
  display: block;
  float: left;
}
.copyright p {
  float: left;
  margin-left: 25px;
  color: #807c7d;
  font-size: 12px;
}
.copyright p a {
  color: #d0003e;
  font-size: 12px;
  font-style: normal;
  text-decoration: underline;
}
.copyright p a:hover {
  color: #d0003e;
  text-decoration: none;
}

.using {
  color: #807c7d;
  font-size: 12px;
}
