@import "compass/reset";

$header_bg_color:#f0f3f5;
$content_bg_color:#ffffff;
$text-color:#807c7d;

.wrapper {
	width: 100%;
	height: 2200px;
}

header {
	width: 100%;
	background-color: $header_bg_color;
	height: 30.9%;
}



.content{
	width: 100%;
	background-color: $content_bg_color;
	height: 69.1%
}

.navigation{	
		padding-top: 2.921%;
		margin-left: 18.5%;
		font-family: sans-serif;
		color:$text-color;

	div:first-child{
			width: 100px;
		div:first-child{
			background:url('../img/logo.gif') no-repeat;
			width: 70px;
			height: 66px;			
		}
		div:last-child{		
			font-size: 0.844em;
			margin-top: 9%;
			line-height: 1.5;
			margin-left: -0.01%;
		}
	}
	div:first-child + div{
		float: left;
		margin-top: -6.5%;
		margin-left: 7.5%;
		a{		
			color:$text-color;
			text-decoration: underline;
			font-style: italic;
			font-size: 0.7em;
		}
	}
}

