@import "compass/reset";
@import "compass";

$bg_color_header: #f0f3f5;
$text_color: #807c7d;
$nav_color:#d0003e;
$fb_color:#5674b9;
$form_color:gray;
$grad_top_c:#f4f6f8;
$grad_bot_c:#e9edf0;
$nav_slider_color:#bbb;

body{
	nav{
		margin: 0px auto;
		padding: 0px;
		vertical-align: top;
		a{
			display: block;
			color: $nav_color;
			line-height: 2;
			font-size: 14px;		
			vertical-align: top;		
			font-style: normal;
			text-decoration: underline;

			&:hover{
				color:$nav_color;
				text-decoration: none;
			}
		}
}
}
body hr{
	margin-top: -2px;
	border-bottom: 1px solid transparentize(rgba(0, 0, 0, 0.5), 0.45);
}

header{
	background-color: $bg_color_header;
	min-height: 680px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

	hr{
		margin-top: -2px;
		width: 1140px;
		border-bottom: 1px solid transparentize(rgba(0, 0, 0, 0.5), 0.45);
	}

	.container{
	width: 1000px;
}



.head{
	height: 200px;
	padding-top: 39px;	
	@include background-image(linear-gradient($grad_top_c, $grad_bot_c));
}
	a{		
		color: $text_color;
		text-decoration: underline;
		font-size: 11px;
		font-style: italic;
		vertical-align: top;

			&:hover{
				color: $text_color;
				text-decoration:none;
			}
	}

	
	.fb{
		text-align: right;
		span{
			color: $text_color;
		}
		a{
			font-style: normal;
			color: $fb_color;
			font-size: 14px;
			text-decoration: none;

			&:hover{
				text-decoration:underline;
			}
		}
	}

	.search{
		margin-top: 61px;
		text-align: right;
		margin-right: auto; 

			input[type=text]{
				vertical-align: baseline;
				outline: none;
				-webkit-appearance: none;
				border: 1px solid transparentize(rgba(0, 0, 0, 0.5), 0.35);
				margin-right: -35px;
				width: 221px;
				height: 26px;
				@-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
         		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
         		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 0 0 rgba(255, 255, 255, 1);

			}

			input[type=button]{
				right: -2px;
				top: 3px;
				border: none;
				background: url('../img/search.png') no-repeat 50% 50%;
				width: 32px;
				height: 22px;
				position: relative;
			}			
		}		
}

.text_logo{
	display: block;	
	color: $text_color;
	font-size: 13px;
	margin: 10px 1px;
}

.head-slider{
	color:transparentize(rgba(0, 0, 0, 1), 0.4);
	margin-top: 44px;
	.col-md-3{
		height: 390px;
	}
	.idea{
		background: url(../img/idea.png) no-repeat top left;
		 height:86px; 
		 width:80px;
	}

	.quality{
		background: url(../img/qality.png) no-repeat top left;
		 height:55px; 
		 width:50px;
		 margin-top: 28px;
	}

	.result{
		background: url(../img/result.png) no-repeat top left;
		 height:78px; 
		 width:43px;		 
		 margin-top: 7px;
	}

	.eco{
		background: url(../img/eco.png) no-repeat top left;
		 height:62px; 
		 width:44px;		 
		 margin-top: 23px;
	}

	 h1{
	 	font-size: 24px;
	 }

	 .head-text{
	 	padding-right: 25px;
	 	margin-top: 17px;
	 	min-width: 245px;
	 }

	 .carousel{
	 	height: 5px;
	 	width: 100%;
	 	background-color: $nav_slider_color;
	 	z-index: 1;
	 }

	 .On{
	 	position: relative;
	 	z-index: 2;
	 	background-color: $nav_color;
	 	width: 20%;
	 	height: 5px;
	 }
}

.content-slider{
	height: 480px;
}

section{
	margin: 0;
	padding: 0;
 hr.bold{
		border-bottom: 5px solid transparentize(rgba(0, 0, 0, 0.5), 0.3);
		width: 100%;
		vertical-align: bottom;
	
	}
}

.news{
	.content{	
		color:$text_color; 	
		background-color: $bg_color_header;		
		height: 205px;
		margin-top: -20px;
	}

	a{
		color: $nav_color;
			font-size: 14px;		
			vertical-align: top;		
			font-style: normal;
	}

	.col-md-3{
		padding: 39px 6px 34px 46px;
	}
}

.separate-news{
	z-index: -1;
	position: relative;
	bottom: 166px;
	border-bottom: 1px solid transparentize(rgba(0, 0, 0, 0.5), 0.5);
}

.about{
	margin-left: -28px;
	margin-top: 65px;

	.feedback{
		padding: 10px 42px;
		background-color: $bg_color_header;
		border-top: 5px solid transparentize(rgba(0, 0, 0, 0.5), 0.3);
		height: 100%;
	}

	.buying{
		margin-top: 20px;
		background: url(../img/map.png) no-repeat 28px 25px;
		background-color: $bg_color_header;
		height: 100%;
		.triangle{
			position: absolute;
			top: 185px;
			left: 247px;
			width: 0;
			height: 0;
			border: 15px solid white;
			border-bottom: 15px solid rgba(0, 0, 0, 0.17);
			border-left: 15px solid rgba(0, 0, 0, 0.18);
		}
		h1{
			display: inline-block;
			font-size: 25px;
			padding: 5px 81px;
			width: 291px;

			a{
				color: $nav_color;
			}
		}

		p{
			margin: -9px 75px;
			padding-bottom: 27px;
			width: 200px;
		}
	}

	.text{ 	
		&>article{
			margin: -136px 134px;
			display: inline-block;
			width: 80%;
			font-size:17px;
			color:$text_color; 
		}
		span{
			font-style: italic;
			font-size: 14px;
		}
	}
}